<!-- <h1>This is a sample title</h1>

<p>Here is some practice text that will show what a paragraph looks like in the body element of a page. Here is some practice text that will show what a paragraph looks like in the body element of a page. Here is some practice text that will show what a paragraph looks like in the body element of a page.</p>
 -->

<p>March 14 2014 | Ambergris Caye, BELIZE</p>